@model GuildCars.Models.ModelsViewModel
@{
    ViewBag.Title = "Models";
}

<div class="col-sm-12 col-md-12 col-lg-12">
    <h2>Models</h2>
    <div class=" elementContainer col-sm-12 col-md-12 col-lg-12">
        @using (Html.BeginForm("Models", "Admin"))
        {
            @Html.ValidationSummary()
            <fieldset>
                <div class="form-group col-sm-3 col-md-2 col-lg-2 ">
                    <p class="">New Model:</p>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-4 ">
                    @Html.TextBoxFor(m => m.modelName)
                </div>
                <div class="form-group col-sm-3 col-md-1 col-lg-1 ">
                    <p class="">Make:</p>
                </div>
                <div class="form-group col-sm-6 col-md-4 col-lg-4">
                    @Html.DropDownListFor(m => m.makeId, Model.makesList),
                </div>
                <div class="form-group col-sm-3 col-md-1 col-lg-1 ">
                    <input id="SaveButton" name="SaveButton" type="submit" value="Save" class="btn btn-primary">
                </div>
            </fieldset>

        }
    </div>
    <div class=" col-sm-12 col-md-12 col-lg-12">
        <div class="col-md-6 col-lg-6">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">Date Added</th>
                        <th scope="col">User</th>
                    </tr>
                </thead>
                <tbody class="">

                        @foreach (var item in Model.models)
                        {
                        <tr>
                            <td>@item.MakeName</td>
                            <td>@item.ModelName </td>
                            <td>@item.AddedDate</td>
                            <td>@item.UserId</td>
                        </tr>
                         }
                </tbody>
            </table>
        </div>
    </div>
</div>

