@model GuildCars.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

    <div>
        <div class="jumbotron" id="indexJumbotron" onclick="location.href='@Url.Action("Specials", "Home")'">
            <div class="carousel slide" id='specialsCarousel' data-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var special in Model.specials)
                    {
                        if (special.SpecialId == 1)
                        {
                    <div class="col-lg-12 col-md-12 item active">
                        <div class="col-lg-6 col-md-6">
                            <img src="@Url.Content("~/Images/" + special.SpecialImageFileName)" class="bannerImage"/>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h1>@special.SpecialName</h1>
                            <p>@special.SpecialDescription</p>
                        </div>
                    </div>
                        }
                        else
                        {
                <div class="col-lg-12 col-md-12 item">
                    <div class="col-lg-6 col-md-6">
                        <img src="@Url.Content("~/Images/" + special.SpecialImageFileName)" class="bannerImage"/>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <h1>@special.SpecialName</h1>
                        <p>@special.SpecialDescription</p>
                    </div>
                </div>
                    }
                    }
                    <a class="carousel-control-prev" href="#specialsCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#specialsCarousel" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-12">
                <h2>Featured Vehicles</h2>
                @foreach (var vehicle in Model.featuredVehicles)
                {
                    <a href="@Url.Action("Details", "Vehicles", new { id = vehicle.VehicleId })">
                        <div class="col-xs-12 col-sm-12 col-md-3 vehicleElement">

                            <p class="featuredVehicles"><img src="@Url.Content("~/Images/" + vehicle.ImageFileName)" class="containerImg" /></p>
                            <p class="featuredVehicles">@vehicle.Year, @vehicle.MakeName,  @vehicle.ModelName</p>
                            <p class="featuredVehicles">@vehicle.SalePrice.ToString("c")</p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div> 
    